i, u {
  cursor: pointer;
}

/* Default styles */
body {
  margin: 0;
  overflow: hidden;
  background-color: #ebebeb;
  --player-offset: 100px;
  --bottom-bar-offset: 48px;
  --bottom-menu-offset: 0px;
  --top-bar-offset: 76px;
}

/* Styles for mobile viewport */
@media (max-width: 768px) {
  body {
    /* --player-offset: 80px; */
    --bottom-menu-offset: 56px;
    /* --bottom-bar-offset: 48px; */
    --top-bar-offset: 72px;
  }
}


* {
  box-sizing: border-box;
}

i:hover,
i.red {
  color: red;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
