i, u {
  cursor: pointer;
}

/* Default styles */
body {
  margin: 0;
  overflow: hidden;
  background-color: #ebebeb;
  --player-offset: 100px;
  --bottom-bar-offset: 48px;
  --bottom-menu-offset: 0px;
  --top-bar-offset: 76px;
  --tiny-button-size: 24px;
  --color-primary: #053d82;
}

/* Styles for mobile viewport */
@media (max-width: 768px) {
  body {
    --player-offset: 80px;
    --bottom-menu-offset: 56px;
    /* --bottom-bar-offset: 48px; */
    --top-bar-offset: 72px;
    /* --tiny-button-size: 24px; */
  }
}

@media screen and (orientation: landscape) { 
  body {
    --player-offset: 80px;
    --bottom-menu-offset: 56px;
  }
}

.item-left {
  text-align: right;
}

.item-right {
  text-align: left;
} 


* {
  box-sizing: border-box;
}

i.fa-regular, 
i.fa-solid {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: var(--tiny-button-size);
  width: var(--tiny-button-size);
  min-width: var(--tiny-button-size);
  /* border: solid 1px #ebebeb; */
  border-radius: 50%; 
  color: var(--color-primary);
}
i.fa-solid:hover {
  border: solid 1px #bebebe;
}

i:hover,
i.red {
  color: red;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
